# Set the programming language for a file
 *.java linguist-language=Java
 *.css linguist-language=CSS
 *.py linguist-language=Python
# Set the default text encoding
* text=auto

# Set the line endings to LF on all platforms
* eol=lf

# Ignore files and directories that match these patterns
.gitignore -text
*.exe -text
