/* Set the background color of the scene */
.scene {
    -fx-background-color: #f5f5f5;
}

/* Style the site label */
.site-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Style the site input field */
.site-input {
    -fx-font-size: 20px;
    -fx-pref-width: 20px;
    -fx-pref-height: 40px;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* Style the tag label */
.tag-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Style the tag input field */
.tag-input {
    -fx-font-size: 16px;
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* Style the submit button */
.submit-button {
    -fx-font-size: 16px;
    -fx-width: 100px;
    -fx-pref-height: 40px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: #fff;
    -fx-border-radius: 100pt;
    -fx-border-width: 0px;
    -fx-cursor: hand;
    -fx-padding: 5px;
}

.submit-button:hover {
    -fx-background-color: #46a049;
}



/* Style the scraped data label */
.scraped-data-label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-padding: 10px;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-wrap-text: true;
}

*{
    -fx-font-family: "Roboto", sans-serif;
}
